.fform {
    background-color: rgba(0, 0, 0, 0.507);
}

.take form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.take form input {
    width: 75%;
    margin-bottom: 10px;
    background-image: linear-gradient(rgba(0, 102, 255, 0.54), rgba(255, 255, 0, 0.567));
}