.footer {
    background-color: rgba(0, 0, 0, 0.655);
    color: rgba(255, 255, 255, 0.712);
    padding: 25px 0 25px 0;
    border-radius: 5px;
    width: fit-content;
    width: 100%;
}

.font-icon i {
    font-size: 20px;

}